
:root {
    --section-blue: #1f2937;
    --item-blue: #3882f6;
    --main-text-white: #f9faf8;
    --sub-text-white: #e5e7eb;
    --main-text-black: #1f2937;
    --section-gray: #6d747d;
}

* {
    outline: red 2px solid;    
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

html{
    display: flex;
    flex-direction: column;
    display: block;
    font-family: 'Roboto';
}

body{
    
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    background-color: var(--section-blue);
    color: var(--main-text-white);
    flex: 1 0 auto;
}

.logo{
    font-size: 24px;
    font-weight: 900;
}

.right-links{
    font-size: 18px;
    display: flex;
    gap: 10px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.first-section{
    background-color: var(--section-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.hero{
    display: flex;
    gap: 100px;
    flex: 1 0 auto;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.hero-header{
color: var(--main-text-white);
font-size: 48px;
font-weight: 900;
}

.hero-text, .placeholder{
    color: var(--sub-text-white);
    font-size: 18px;
}

.hero-button{
    background-color: var(--item-blue);
    color: var(--main-text-white);
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}

.hero-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--section-gray);
}

.second-section{
    display: flex;
    justify-content: center;
    padding: 50px 200px;
}

.info-header{
    box-sizing: border-box;
    color: var(--main-text-black);
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 50px
}

.grid{
    display: flex;
    justify-content: center;
    padding: 0 200px;
    gap: 20px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 300px;
    height: 300px;
}

.box{
    width: 150px;
    height: 150px;
    border: var(--item-blue) 2px solid;
    border-radius: 15px;
}

.grid-text{
    font-size: 18px;
    color: var(--section-gray);
    text-align: center;
}