
:root {
    --section-blue: #1f2937;
    --item-blue: #3882f6;
    --main-text-white: #f9faf8;
    --sub-text-white: #e5e7eb;
    --main-text-black: #1f2937;
    --section-gray: #6d747d;
}

* { 
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto';
}


header{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--section-blue);

}

.container{
    display: flex;
    justify-content: space-between;
    color: var(--main-text-white);
    width: 1100px;
}

.logo{
    font-size: 24px;
    font-weight: 900;
}

.right-links{
    font-size: 18px;
    display: flex;
    gap: 15px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--sub-text-white);
}

.first-section{
    background-color: var(--section-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
   
}

.hero{
    display: flex;
    gap: 100px;
    flex: 1 0 auto; 
    justify-content: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.hero-header{
color: var(--main-text-white);
font-size: 48px;
font-weight: 900;
}

.hero-text, .placeholder{
    color: var(--sub-text-white);
    font-size: 18px;
}

.hero-button{
    background-color: var(--item-blue);
    color: var(--main-text-white);
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.hero-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: var(--section-gray);
}

.second-section{
    display: flex;
    justify-content: center;
    padding: 50px 200px;
}

.info-header{
    box-sizing: border-box;
    color: var(--main-text-black);
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 50px
}

.grid{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 300px;
    height: 300px;
}

.box{
    width: 150px;
    height: 150px;
    border: var(--item-blue) 4px solid;
    border-radius: 15px;
}

.grid-text{
    font-size: 18px;
    color: var(--section-gray);
    text-align: center;
}

.third-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    background-color: var(--sub-text-white);
}

.quote-box{
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 5px;
}

.quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: var(--main-text-black);
}

.signature{
    color: var(--section-blue);
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.forth-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
}

.action-box{
    background-color: var(--item-blue);
    display: flex;
    justify-content: center;
    width: 1000px;
    padding: 20px 30px;
    border-radius: 5px;
}

.action-left, .action-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    gap: 5px;
}

.action-header{
    color: var(--main-text-white);
    font-size: 18px;
    font-weight: bold;
}

.action-desc{
    color: var(--main-text-white);
    font-size: 15px;
}

.btn{
    background-color: var(--item-blue);
    color: var(--main-text-white);
    border: var(--main-text-white) solid 2px;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    text-align: center;
}

footer{
    text-align: center;
    color: var(--main-text-white);
    background-color: var(--section-blue);
    font-size: 18px;
    padding: 50px 200px;
}